<div style = 'display:flex; position:absolute; top:0; bottom:0; right:0; left:0; '>
  <div id = 'div_you_want_centered' style = 'margin:auto;'>
    <%= render 'form', form_datum: @form_datum %>
  </div>
</div>

<%= link_to 'Back', form_data_path %>
